parameters:
	ignoreErrors:

		-
			message: '#^Method App\\DTOs\\User\\CreateUserDTO\:\:fromArray\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/DTOs/User/CreateUserDTO.php

		-
			message: '#^Method App\\Http\\Requests\\Api\\User\\StoreAdminRequest\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/Api/User/StoreAdminRequest.php

		-
			message: '#^Method App\\Http\\Requests\\Api\\User\\UpdateAdminRequest\:\:rules\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/Api/User/UpdateAdminRequest.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\User\\AdminResource\:\:\$account_status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/User/AdminResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\User\\AdminResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/User/AdminResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\User\\AdminResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/User/AdminResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\User\\AdminResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/User/AdminResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\User\\AdminResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/User/AdminResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\User\\AdminResource\:\:\$photo_profile\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/User/AdminResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\User\\AdminResource\:\:\$photo_profile_url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/User/AdminResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\User\\AdminResource\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/User/AdminResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\User\\AdminResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/User/AdminResource.php

		-
			message: '#^Method App\\Http\\Responses\\ApiResponse\:\:error\(\) has parameter \$errors with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Responses/ApiResponse.php

		-
			message: '#^Method App\\Http\\Responses\\ApiResponse\:\:paginated\(\) has parameter \$paginator with generic class Illuminate\\Pagination\\LengthAwarePaginator but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: app/Http/Responses/ApiResponse.php

		-
			message: '#^Method App\\Http\\Responses\\ApiResponse\:\:validationError\(\) has parameter \$errors with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Responses/ApiResponse.php

		-
			message: '#^Class App\\Models\\ArchitectProfile uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ArchitectProfile.php

		-
			message: '#^Class App\\Models\\ArchitectWishlist uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ArchitectWishlist.php

		-
			message: '#^Method App\\Models\\ArchitectWishlist\:\:architect\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ArchitectWishlist.php

		-
			message: '#^Method App\\Models\\ArchitectWishlist\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/ArchitectWishlist.php

		-
			message: '#^Class App\\Models\\Faq uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Faq.php

		-
			message: '#^Property App\\Models\\PersonalAccessToken\:\:\$collection has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: app/Models/PersonalAccessToken.php

		-
			message: '#^Class App\\Models\\User uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types\: TFactory$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/User.php

		-
			message: '#^The @use tag of class App\\Models\\User describes Illuminate\\Database\\Eloquent\\Factories\\HasFactory but the class uses Laravel\\Sanctum\\HasApiTokens\.$#'
			identifier: generics.wrongParent
			count: 1
			path: app/Models/User.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 12
			path: database/seeders/DatabaseSeeder.php
